<div class="container my-5">
  <h1 class="mb-4">Formulario Mascota Perdida</h1>

  <form >
    <div class="mb-3">
      <label for="petType" class="form-label">Tipo Mascota</label>
      <input type="text"  name="petType" class="form-control" id="petType">
    </div>

    <div class="mb-3">
      <label for="petBreed" class="form-label">Raza Mascota</label>
      <input type="text"  name="petBreed" class="form-control" id="petBreed">
    </div>

    <div class="mb-3">
      <label for="petColor" class="form-label">Color Mascota</label>
      <input type="text"  name="petColor" class="form-control" id="petColor">
    </div>

    <div class="mb-3">
      <label for="petDescription" class="form-label">Descripcion Mascota</label>
      <textarea class="form-control"  name="petDescription" id="petDescription" rows="3"></textarea>
    </div>

    <div class="mb-3">
      <label for="petImage" class="form-label">Imagen Mascota</label>
      <input type="file"  name="petImage" class="form-control-file" id="petImage">
    </div>

    <button type="submit" class="btn btn-primary" (click)="ingresar()">Ingresar</button>
  </form>
</div>

