<ion-header [translucent]="true">
<ion-toolbar>
<ion-title>Olvidé mi contraseña</ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="container">
        <p>Ingrese su rut para reestablecer su contraseña.<br>
          Se entregará una contraseña provisional, es recomendable establecer una propia.
        </p>      
        <form (submit)="submitForm()" [formGroup]="forgotForm">
          <ion-item lines="full" *ngIf="forgotForm">
            <ion-label position="floating">Rut</ion-label>
            <ion-input type="text" name="rut" placeholder="Sin puntos ni guión" formControlName="rut" maxlength="9"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="forgotForm.get('rut')?.invalid && forgotForm.get('rut')?.touched">
            <div>{{ getErrorMessage('rut') }}</div>
          </ion-text>
        <ion-row>
          <ion-col>
            <ion-button type="submit" [disabled]="forgotForm.invalid">Enviar</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </div>
  </div>
</ion-content>