<ion-header>
  <ion-toolbar>
    <ion-title>Editar perfil de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input formControlName="apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Rut</ion-label>
      <ion-input formControlName="rut" placeholder="{{ dataRut }}" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Número de teléfono</ion-label>
      <ion-input type="tel" formControlName="celular"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!registerForm.invalid">
      Guardar cambios
    </ion-button>
  </form>
</ion-content>


