<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updatePassForm" (ngSubmit)="submitForm(updatePassForm)">
    <ion-item *ngIf="updatePassForm">
      <ion-label position="floating">Contraseña actual</ion-label>
      <ion-input type="{{ showPassword1 ? 'text' : 'password' }}" formControlName="vieja_contrasena" required></ion-input>
      <ion-icon name="{{ showPassword1 ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility1()"></ion-icon>
    </ion-item>
    <ion-text color="danger" *ngIf="updatePassForm.get('vieja_contrasena')?.invalid && updatePassForm.get('vieja_contrasena')?.touched">
      <div>{{ getErrorMessage('vieja_contrasena') }}</div>
    </ion-text>
    <ion-text color="danger" *ngIf="vieja_contrasenaPutError">
      <div>{{ vieja_contrasenaPutError }}</div>
    </ion-text>

    <ion-item lines="full" *ngIf="updatePassForm">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input type="{{ showPassword2 ? 'text' : 'password' }}" name="password" placeholder="Ingrese su contraseña" maxlength="20" formControlName="password" ></ion-input>
      <ion-icon name="{{ showPassword2 ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility2()"></ion-icon>
    </ion-item>
    <ion-text color="danger" *ngIf="updatePassForm.get('password')?.invalid && updatePassForm.get('password')?.touched">
      <div>{{ getErrorMessage('password') }}</div>
    </ion-text>
    <ion-text color="danger" *ngIf="passwordPutError">
      <div>{{ passwordPutError }}</div>
    </ion-text>
    
    <ion-item lines="full" *ngIf="updatePassForm">
      <ion-label position="floating">Confirma la nueva contraseña</ion-label>
      <ion-input type="{{ showPassword3 ? 'text' : 'password' }}" name="confirmPassword" placeholder="Confirme su contraseña" formControlName="confirmPassword"></ion-input>
      <ion-icon name="{{ showPassword3 ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility3()"></ion-icon>
    </ion-item>
    <ion-text color="danger" *ngIf="updatePassForm.get('confirmPassword')?.invalid && updatePassForm.get('confirmPassword')?.touched || updatePassForm.get('confirmPassword')?.hasError('not_matching')">
      <div>{{ getErrorMessage('confirmPassword') }}</div>
    </ion-text>


    <ion-button type="submit" expand="block" [disabled]="updatePassForm.invalid">
      Guardar cambios
    </ion-button>
  </form>
</ion-content>