<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MASCOTAS PERDIDAS CERCA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="titulo">MASCOTAS PERDIDAS CERCA</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <div #mapElement class="map"></div>
    <ion-card-header>
        <ion-card-subtitle>Mi ubicación: {{address}}</ion-card-subtitle>
        <ion-card-title></ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button  (click)="openModal()" fill="outline" fill="clear">
    <img src="../../assets/imagenes/lupaboton.png" alt="Boton Lupa">
  </ion-button>
</ion-footer>

<!-- <ion-footer class="footer">
  <ion-button [routerLink]="['/perdi-mascota']" shape="round" class="footer-button">Perdi mi<br> mascota</ion-button>
  <ion-button [routerLink]="['/encontre-mascota']" shape="round" class="footer-button">Encontre una<br>  mascota</ion-button>
</ion-footer> -->

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MASCOTAS PERDIDAS CERCA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title id="titulo">MASCOTAS PERDIDAS CERCA</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <div #mapElement class="map"></div>
    <ion-card-header>
        <ion-card-subtitle>Mi ubicación: {{address}}</ion-card-subtitle>
        <ion-card-title></ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
<ion-footer>

    <ion-button [routerLink]="['/perdi-mascota']" shape="round">Perdi mi<br> mascota</ion-button>
    <ion-button [routerLink]="['/encontre-mascota']" shape="round">Encontre una<br>  mascota</ion-button>

</ion-footer>
 -->