<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MASCOTAS PERDIDAS CERCA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">MASCOTAS PERDIDAS CERCA</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong> ACA VA EL MAPA</strong>
    <p>🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽🌽</p>

    
  </div>
</ion-content>
<ion-footer>

    <ion-button [routerLink]="['/perdi-mascota']" shape="round">Perdi mi<br> mascota</ion-button>
    <ion-button [routerLink]="['/perdi-mascota']" shape="round">Encontre una<br>  mascota</ion-button>

</ion-footer>
